

$square-size: 4em;

.board {
    display: grid;
    grid-template-columns: repeat(8, $square-size);
    grid-template-rows: repeat(8, $square-size);
    width: 8 * $square-size;
    height: 8 * $square-size;
}

.light {
    background-color: rgb(212, 184, 130);
}

.dark {
    background-color: rgb(141, 64, 28);
}

.square {
    width: $square-size;
    height: $square-size;
    
    user-select: none;
    cursor: pointer;

    img {
        width: 100%;
    }
}